:root{

    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;        
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;        
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
    --color-icon: #afb1b8;
    --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
    --items: 3;
    --indent: 24px;
    --duration: 250ms;
    --function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {

background-color: var(--color-white);
color:var(--color-slate);
font-family: Roboto, sans-serif;    
}

img {
display: block;
max-width: 100%;
height: auto;
}

h1,h2,h3,h4,h5,h6,p {
margin: 0;
}

.section {
   
        padding-top: 96px;
        padding-bottom: 96px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 16px;

    @media screen and (min-width: 480px) {
        width: 480px;
      }

     @media screen and (min-width: 768px) {
        width: 768px;
      }

      @media screen and (min-width: 1200px) {
        width: 1200px;     
                
      }

}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**
  |============================
  | Buttons
  |============================
*/

.button {
     
    display: flex;
    align-items: center;
    text-align: center;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--color-white);
    background-color: var(--color-iris);  
    
    cursor: pointer;   
}

.button.primary {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    outline: none;
    text-align: center;
    justify-content: center;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--duration) var(--function); 
}

.button.secondary {
    padding: 12px 24px;
    color: var(--color-iris);

    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    outline: none;

    transition: color var(--duration) var(--function),
                background-color var(--duration) var(--function), 
                border var(--duration) var(--function),
                box-shadow var(--duration) var(--function); 

}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--color-ocean);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);

    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}
/**
  |============================
  | Section Features
  |============================
*/

.subtitle {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.description {
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

.svg-icon {
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;   
       
    background-color: var(--color-cloud);

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

/**
  |============================
  | Card-set
  |============================
*/
.features-list,
.team-list {
    @media screen and (min-width: 768px) {
        --items: 2;      
        
    }
    @media screen and (min-width: 1200px) {
        --items: 4;
    }
}



.card-set {

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    
    }
    gap: var(--indent);
}


 .card-set-item{
     @media screen and (min-width: 768px) 
    {
        width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    }
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
                margin-bottom: 72px;
            }
        }
    }
   
/**
  |============================
  | Section Works
  |============================
*/

.section-work {
    @media screen and (max-width: 1199px) {
        display: none;
    }

    padding-top: 0;
}

.title {
    margin-bottom: 72px;
    text-align: center;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;    
    text-transform: capitalize;

    color: var(--color-navy-blue);
}

/**
  |============================
  | Section Team
  |============================
*/

.section-team {
    background-color: var(--color-cloud);
}

.team-list {
@media screen and (max-width: 1199px){
    justify-content: center;
   }

}

.team-list .item {
    display: flex;
    flex-direction: column;
   
    width: 265px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px){ 
   
        margin: 72px auto;
    }
}


.team-card {
    padding: 32px 16px;
}

.team-subtitle {
   text-align: center;
}

.team-description {
    text-align: center;
    margin-bottom: 8px;
}

/**
  |============================
  | Social icons
  |============================
*/
.social-icon {
   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: var(--color-iris);

    transition: background-color var(--duration) var(--function);   
 }

.icon-set {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: var(--indent);
}

.icon-set-item,
.social-icon-team {
    width: 40px;
    height: 40px;
}

.social-btn {
    fill: var(--color-cloud);
}

.social-icon-team:hover,
.social-icon-team:focus {
    background-color: var(--color-ocean);
}

/**
  |============================
  | Section Customers
  |============================
*/

.customers-section {
   
    @media screen and (max-width: 479px) {
    padding-top: 86px;
    padding-bottom: 106px;
}
}

.list-customers 
{  
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;    

    @media screen and (min-width: 480px) {
    --items: 2;   
    --indent: 16px;  
    row-gap: 72px;
    column-gap: 16px;     
        
    }
    @media screen and (min-width: 768px) {
        --items: 3;
        --indent: 24px;
        row-gap: 72px;
        column-gap: 24px;       
        
    }
    @media screen and (min-width: 1200px) {
        --items: 6;
        --indent: 24px;
        
    }
}

.customer-card{     

    @media screen and (min-width: 480px) 
   {
     width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
   
   }
   
   }

.link-customers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--color-light-slate);    
    border-radius: 4px;
    outline: none;

    color: var(--color-icon);

    transition: color var(--duration) var(--function), 
         border-color var(--duration) var(--function); 
}

.link-customers:hover,
.link-customers:focus {
    border-color: var(--color-ocean);
    color: var(--color-ocean);
   
}

.icon-customers {
 fill: currentColor; 
}

/**
  |============================
  | Footer
  |============================
*/

.footer{
   
        padding-top: 96px;
        padding-bottom: 96px;
    
   
    @media screen and (min-width: 1200px) 
    {
        padding-top: 100px;
        padding-bottom: 100px;
    
    }   

    background-color: var(--color-navy-blue);
    color: var(--color-cloud);
    
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;

    @media screen and (min-width: 768px) 
    {
        padding-left: 110px;
        padding-right: 162px;
        flex-direction: row;
        flex-wrap: wrap;
       justify-content: flex-start;
        gap: 24px;
    } 
    @media screen and (min-width: 1200px) 
    {
        margin-left: 0;
        margin-right: 0;
        padding-left: 156px;
        padding-right: 159px;
        flex-direction: row;
        flex-wrap: nowrap;        
        align-items: baseline;
        gap: 120px;
    } 
   
}
.description-container  {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    
}
}
.social-media-container  {
    @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
}

.footer-logo {
    margin-bottom: 16px;
    padding: 0;
}

.footer-brand{
    outline: none;
    color: var(--color-cloud);
    transition: color var(--duration) var(--function); 
}

.footer-brand:hover,
.footer-brand:focus{
    color: var(--color-iris);
}

.footer-description {
    width: 264px;  

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
       
    color: var(--color-cloud);
}

.social-media,
.subscribe-label {
    display: block;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-white);
}

.icon-footer {
    --indent: 16px;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    background-color: var(--color-green);
}

.subscribe-form {
    padding: 0;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;    
    @media screen and (min-width: 768px) 
    {
          flex-direction: row;
          align-items: end;
          gap: 24px;
         justify-content: flex-start;
         text-align: left;
    } 
    @media screen and (min-width: 1200px) 
    {
        padding: 0;
        display: flex;  
        align-items: end;
        gap: 24px;
        margin-left: -40px;
    } 
    
}


.subscribe-label {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-white);
}
.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid var(--color-white);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    color: var(--color-white);
    background-color: var(--color-navy-blue);
    border-radius: 4px;
    outline: none;
}

.subscribe-input:focus {
    background-color: var(--color-ocean);
 } 
.btn-subscribe {
    display: flex;
    width: 165px;
    height: 40px;  
    text-align:center;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    outline: none;
    gap: 16px;

    transition: background-color var(--duration) var(--function);
}

.btn-subscribe:focus,
.btn-subscribe:hover  {
 background-color: var(--color-ocean);   
}

.subscribe-input::placeholder {
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;

color: var(--color-white);
}