:root{

    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;        
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;        
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
    --color-icon: #afb1b8;
    --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
    --items: 3;
    --indent: 24px;
    --duration: 250ms;
    --function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 72px;

background-color: var(--color-white);
color:var(--color-slate);
font-family: Roboto, sans-serif;    
}

img {
display: block;
max-width: 100%;
height: auto;
}

h1,h2,h3,h4,h5,h6,p {
margin: 0;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;

         
    
    @media screen and (min-width: 1200px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
}


.container {  
 
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 480px) {
        min-width: 480px;
      }

     @media screen and (min-width: 768px) {
        min-width: 768px;
      }

      @media screen and (min-width: 1200px) {
        min-width: 1200px;     
                
      }

}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**
  |============================
  | Buttons
  |============================
*/

.button {
     
    display: flex;
    align-items: center;
    text-align: center;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--color-white);
    background-color: var(--color-iris);  
    
    cursor: pointer;   
}

.button.primary {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    outline: none;
    text-align: center;
    justify-content: center;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--duration) var(--function); 
}

.button.secondary {
    padding: 12px 24px;
    color: var(--color-iris);

    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    outline: none;

    transition: color var(--duration) var(--function),
                background-color var(--duration) var(--function), 
                border var(--duration) var(--function),
                box-shadow var(--duration) var(--function); 

}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--color-ocean);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);

    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**
  |============================
  | Logo
  |============================
*/

.logo {
    display: block;
    padding: 24px 0;    
    outline: none;  
    
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-iris);
}

/**
  |============================
  | Header
  |============================  
*/

.header {
   
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;   
  
    top: 0;
    left: 0;
    min-height: 72px;
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                 0px 1px 6px rgba(46, 47, 66, 0.08);

    background-color: var(--color-white);
}

.main-nav{   
    display: flex;  
    align-items: center;
    justify-content: space-between;  

    @media screen and (min-width: 1200px) {
        padding-left: 156px;
        padding-right: 156px;
    }
}

.switch-mobile{
    fill: var(--color-icon);
}

.menu-button {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: currentColor;

    &.is-open{
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid var(--color-cornflower);
        background-color: var(--color-cornflower);
        color: var(--color-icon: #afb1b8);

        
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}


.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross  {
    display: block;
    fill: currentColor;

    @media screen and (min-width: 768px) {
            display: none;
        }
   
}

.menu-button.is-open .icon-menu  {
    display: none;
}

.menu-button.is-open .switch-mobile{
    width: 8px;
    height: 8px;
}

.menu-container  {
    padding: 80px 40px 40px 40px;
    text-align: center;
    font-size: 20px;   
    background-color: var(--color-white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
 
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 726px;

        &.is-open  {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
        }

        &.is-open .site-menu .menu::after,
        .site-menu .current-link::after {
            display: none;
                     
        }
        
        
    }

    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
    }
}



.logo-header{
    @media screen and (min-width: 768px) {
        margin-right: 76px;
    }   

}

.header-brand {
    outline: none;
    color: var(--color-navy-blue);
    transition: color var(--duration) var(--function); 
}

.header-brand:hover,
.header-brand:focus {
    color: var(--color-iris);
}

.site-nav{
 
    display: flex;
    align-items: center;
    
 }

.site-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    @media screen and (min-width: 768px) {
        width: 100%;    
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
    }

}

.site-menu .menu {
    position: relative;
    display: block;
    padding: 20px 0;
    outline: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;


    @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
   }

    color: var(--color-navy-blue);

    transition: color var(--duration) var(--function); 
}

.site-menu .menu:hover,
.site-menu .menu:focus
{
    color:var(--color-ocean);

}

.site-menu .current-page {
    color: var(--color-iris);
 
}
.site-menu .current-link {
    position: relative; 
}

.site-menu .menu::after,
.site-menu .current-link::after
 {    
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;  
    content: "";
    width: 100%;
    height: 4px;
    transform: scaleX(0);

    background-color: transparent; 
    border-radius: 2px;
 
    transition: transform var(--duration) var(--function),
                background-color var(--duration) var(--function); 

                
}  

.site-menu .current-page::after  {
 
        display: flex;
        transform: scaleX(1);
        background-color: var(--color-iris);
         
      
}

.site-menu .menu:hover::after
 {
   
    transform: scaleX(1);
    background-color: var(--color-iris);

}


.adress{
    display: flex; 
    font-style: normal;   
}


.adress-list{
    width: 100%;
    display: flex;
    gap: 40px;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 768px) {
        flex-direction: column;  
             gap: 12px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;  
             gap: 40px;
    }
}

.adress-list .contact{
    display: block;
    padding: 24px 0;
    outline: none;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-slate);

    transition: color var(--duration) var(--function); 

    @media screen and (min-width: 768px) {
        padding: 0;
      }
}

.adress-list .contact:hover,
.adress-list .contact:focus
{
    color:var(--color-ocean);
}

.icon-set.mobile-icon {
    
@media screen and (min-width: 768px) {
    display: none;
}
}
.adress{
    @media screen and (max-width: 767px) {
        display: none;
    }    
 }

 .contacts {
    width: 100%;
    display: flex;
   
    flex-direction: column;
   
    align-items: flex-start;
    gap: 48px;

    @media screen and (min-width: 768px) {
        align-items: flex-end;
    }
}

.adress-mobile { 
    display: flex;  
    flex-direction: column;   
   
    align-items: flex-start;
    gap: 40px;
   
    @media screen and (min-width: 768px) {
        display: none;
    }
}


.phone {  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
      
    letter-spacing: 0.02em;
    
    font-style: normal;
    
    color: var(--color-iris);
}

.email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
     font-style: normal;
    letter-spacing: 0.02em;
   
    color: var(--color-slate);
} 

.title {
    margin-bottom: 72px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--color-navy-blue);
}

/**
  |============================
  | section hero
  |============================
*/

.hero {
    max-width: 1440px;
    min-height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--color-iris);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/main-page/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/main-page/hero-mobile2x.jpg);
    }
}

@media (min-width: 489px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/main-page/hero-tablet.jpg);
 
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/main-page/hero-tablet2x.jpg);
        }
    }
}

@media (min-width: 769px) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/main-page/hero-desktop.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/main-page/hero-desktop2x.jpg);
        }
    }
}

.hero-title{
    max-width: 496px;
    margin: 0 auto 48px;
      
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em; 

    color: var(--color-white);
}


/**
  |============================
  | Section Features
  |============================
*/

.features-list .item {
@media screen and (min-width: 1200px) {
    flex-basis: 264px;
}
}

.subtitle {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.description {
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

.svg-icon {
    height: 112px;
    width: 264px;
    
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;   
       
    background-color: var(--color-cloud);

    @media screen and (max-width: 1199px) {
        display: none;
    }
}



/**
  |============================
  | Card set
  |============================
*/

.features-list,
.team-list {  

    @media screen and (min-width: 768px){
        --items: 2;
       justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        --items: 4;
        justify-content: center;
        
    }
}
.card-set {

       display: block;
    @media screen and (min-width: 768px) {        
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: var(--indent);  
        justify-content: center;      
    }

   
}

.card-set-item {
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 72px;
        }
    }
}


/**
  |============================
  | Section Works
  |============================
*/

.section-work {
    
    @media screen and (max-width: 1199px) {
            display: none;
        }
}

.works-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 156px;
    gap: 24px;
}
.works-list .item {
    
    width: 360px;
    
}
/**
  |============================
  | Section Team
  |============================
*/

.section-team {
    
    background-color: var(--color-cloud);
 

    @media screen and (min-width: 768px){
      
        display: flex;
        margin: 0 auto;
    
        justify-content: center;
       }
    
    }


.team-list .item {
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 265px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px){ 
   
        margin: 72px auto;
    }
}

.team-img {
    display: flex;
    margin: 0 auto;
}  

.team-card {
    padding: 32px 16px;
}

.team-subtitle {
   text-align: center;
}

.team-description {
    text-align: center;
    margin-bottom: 8px;
}

/**
  |============================
  | Social icons
  |============================
*/
.social-icon {
   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: var(--color-iris);

    transition: background-color var(--duration) var(--function);   
 }

.icon-set {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: var(--indent);
}

.icon-set.mobile-icon {
    --indent: 56px;
}


.icon-set-item,
.social-icon-team {
    width: 40px;
    height: 40px;
}

.social-btn {
    fill: var(--color-cloud);
}

.social-icon-team:hover,
.social-icon-team:focus {
    background-color: var(--color-ocean);
}

/**
  |============================
  | Section Customers
  |============================
*/

.customers-section {

    padding-top: 96px;
    padding-bottom: 96px;

@media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
    
}
}

.list-customers 
{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    row-gap: 72px;
    column-gap: 16px;     
        
 
    @media screen and (min-width: 768px) {
        
        row-gap: 72px;
        column-gap: 24px;       
        
    }
    @media screen and (min-width: 1200px) {
        --items: 6;
        --indent: 24px;
        
    }
}

.customer-card{     

    width: 190px;

    @media screen and (min-width: 768px) {
        
        width: 168px;  
        
    }
    
   }

.link-customers{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-light-slate);    
    border-radius: 4px;
    outline: none;
    width: 100%;
    margin: 0 auto;
    color: var(--color-icon);

    transition: color var(--duration) var(--function), 
         border-color var(--duration) var(--function); 
}

.link-customers:hover,
.link-customers:focus {
    border-color: var(--color-ocean);
    color: var(--color-ocean);
   
}

.icon-customers {
 fill: currentColor; 
}

/**
  |============================
  | Footer
  |============================
*/

.footer{
        display: flex;
        padding-top: 96px;
        padding-bottom: 96px;
        width: 100%;
   
    @media screen and (min-width: 1200px) 
    {
        padding-top: 100px;
        padding-bottom: 100px;   
          
    }   

    background-color: var(--color-navy-blue);
    color: var(--color-cloud);
    
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;

    @media screen and (min-width: 768px) 
    {
        padding-left: 110px;
        padding-right: 162px;
        flex-direction: row;
        flex-wrap: wrap;
       justify-content: flex-start;
        gap: 24px;
    } 

    @media screen and (min-width: 1200px) 
    {
       width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: nowrap;
         lign-items: baseline;        
        justify-content: center;
        gap: 120px;
    } 
   
}
.description-container  {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    
}
}
.social-media-container  {
    @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
}

.footer-logo {
    margin-bottom: 16px;
    padding: 0;
}

.footer-brand{
    outline: none;
    color: var(--color-cloud);
    transition: color var(--duration) var(--function); 
}

.footer-brand:hover,
.footer-brand:focus{
    color: var(--color-iris);
}

.footer-description {
    width: 264px;  

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
       
    color: var(--color-cloud);
}

.social-media,
.subscribe-label {
    display: block;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-white);
}

.icon-footer {
    --indent: 16px;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    background-color: var(--color-green);
}

.subscribe-form {
    padding: 0;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;    
    @media screen and (min-width: 768px) 
    {
          flex-direction: row;
          align-items: end;
          gap: 24px;
         justify-content: flex-start;
         text-align: left;
    } 
    @media screen and (min-width: 1200px) 
    {
        padding: 0;
        display: flex;  
        align-items: end;
        gap: 24px;
        margin-left: -40px;
    } 
    
}


.subscribe-label {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-white);
}
.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid var(--color-white);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    color: var(--color-white);
    background-color: var(--color-navy-blue);
    border-radius: 4px;
    outline: none;
}

.subscribe-input:focus {
    background-color: var(--color-ocean);
 } 
.btn-subscribe {
    display: flex;
    width: 165px;
    height: 40px;  
    text-align:center;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    outline: none;
    gap: 16px;

    transition: background-color var(--duration) var(--function);
}

.btn-subscribe:focus,
.btn-subscribe:hover  {
 background-color: var(--color-ocean);   
}

.subscribe-input::placeholder {
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;

color: var(--color-white);
}

/**
  |============================
  | Portfolio
  |============================
*/

.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;

    @media screen and (min-width: 768px) {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 120px;
    }
}

.portfolio-filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 48px;
    gap: 24px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 64px;
    }

     @media screen and (min-width: 1200px) {
         justify-content: center;
         margin-bottom: 72px;
     }
    
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    width: 396px;
    justify-content: center;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        --items: 2;
        width: 768px;
        justify-content: center;
    }
    
        @media screen and (min-width: 1200px) {
        flex-direction: row;
        --items: 3;
        width: 1200px;
    }
}


.portfolio-list .item {
 @media screen and (min-width: 768px) {
     flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
     
 }

 &:not(:last-child) {
     @media screen and (max-width: 767px) {
         margin-bottom: 48px;
     }
 }
}

.portfolio-item {
    outline: none;
    display: block;
    width: 360px;
    transition: box-shadow var(--duration) var(--function);

}



.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-card {
    width: 100%;
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
}

.portfolio-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    transform: translateY(100%);

    transition: transform var(--duration) var(--function);

}

.portfolio-item:hover .product-description,
.portfolio-item:focus .product-description {
    transform: translateY(0);

}

.product-description>p {
    padding: 40px 32px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-cloud);

}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

    color: var(--color-navy-blue);
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-slate);
}

.portfolio-img {
    display: flex;
    margin:  0 auto;
} 
/**
  |============================
  | Modal wiev
  |============================
*/

.backdrop{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 1;
  
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(46, 47, 66, 0.4);
   
    transition: opacity var(--duration) var(--function);
   
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    }
  
  .modal{
      position: absolute;    
  
      top: 50%;
      left: 50%;   
      padding: 24px;
      opacity: 1; 
   
      width: 408px;
      min-height: 584px;
      background-color: var(--color-dairy);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
  
      transform: translate(-50%, -50%) scale(1);
      transition: transform var(--duration) var(--function),
                    opacity var(--duration) var(--function);
  } 
  
  .backdrop.is-hidden .modal {
      transform: translate(-50%, -50%) scale(0.9);
      opacity: 0;
  } 
  
  .btn-close {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-bottom: 72px;
      outline: none;
      cursor: pointer;  
      width: 24px;
      height: 24px;  
     
      border: none;
      border-radius: 50%;
        
      color: var(--color-icon);
      background-color: var(--color-cornflower);
  
      transition: background-color var(--duration) var(--function),
                  fill var(--duration) var(--function);
    } 
  
     .btn-close:hover,
     .btn-close:focus{
      background-color: var(--color-ocean);
      fill: var(--color-cornflower);
    }
      
      .title-modal {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
         
      text-align: center;
      letter-spacing: 0.02em;
      
      color: var(--color-navy-blue);
      }
  
  .form-field{
      display: flex;
      width: 360px;
      flex-direction: column;
      margin-bottom: 8px;
      position: relative;
    
  }
  
  .comment {
      margin-bottom: 16px;
  }
  
  .accept {
      display: flex;   
      align-items: end;
  
      margin-bottom: 24px;
      gap: 8px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: var(--color-light-slate);
      
      transition: color var(--duration) var(--function);
  }
  
  .input-accept:checked ~ .label{   
      color: var(--color-slate);
    }
   
  .form-field  .form-input, 
  .form-field  .form-comment {
      padding: 8px 35px;   
      outline: none;
      border: 1px solid var(--color-navy-blue-modal);
      border-radius: 4px;
  
      color: var(--color-light-slate);
  
      transition: border-color var(--duration) var(--function), 
                  fill var(--duration) var(--function);
  }
  .form-field .form-comment {
      padding: 8px 16px;
  } 
  .form-field:focus-within >.form-input,
  .form-field:focus-within >.form-comment {
      border-color: var(--color-iris);
  } 
  
   .form-field:focus-within >.name-icon {
      fill: var(--color-iris);
   } 
  
  .form-field  .form-label{
      display: block;
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 1.17;       
      letter-spacing: 0.01em;
      color: var(--color-light-slate);
  }
  
  .form-field textarea::placeholder {
      font-size: 12px;
      line-height: 1.17;
        
      letter-spacing: 0.04em;
      
      color: var(--color-navy-blue-modal);
  }
  
  .form-field textarea {   
     height: 120px;  
  }
  
  .accept-icon {   
     display: absolute; 
   
     width: 16px;
     height: 16px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;
  
     transition: background-color var(--duration) var(--function),
                     border-color var(--duration) var(--function),
                     background-image var(--duration) var(--function);
   }
  
   .input-accept:checked + .accept-icon {  
  
      background-color: var(--color-iris); 
      border-color: var(--color-iris);
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
          
      background-repeat: no-repeat;
      background-position: center;
   }
  
   .privacy-policy  {
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.04em;
  
      color: var(--color-iris);
  }
  
  .name-icon {
      display: inline-block;
      position: absolute;
      top: 12px;
      left: 16px;
      transform: translateY(50%);
      width: 18px;
      height: 24px;
      background-color: var(--color-white);    
  }
  